.about-me-ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.about-img-ctn{
    display: flex;
    justify-content: center;
}
.about-img-ctn img{
    width: 30rem;
}
.about-info-ctn{
    width: 40%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-info-ctn p{
    font-size: 18px;
}
.about-btn-ctn{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
#about a{
    background-color: #22252bbd;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #005aff;
}
#about a:hover{
    box-shadow: 0 0 10px 1px #005aff;
}
@media (max-width:768px){
    .about-me-ctn{
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
    }
    .about-info-ctn{
        width: auto;
    }
    .about-img-ctn img{
        width: 20rem;
    }
}