#contact{
    padding: 10rem;
}
.contact-ctn{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
}
.contact-links-ctn{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}
.contact-link{
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 20rem;
    height: 5rem;
    box-shadow: 0 0 5px 1px #005aff;
    border-radius: 15px;
    font-size: 3rem;
    align-items: center;
}
.linkedin-link{
    background-color: dodgerblue;
}
.github-link{
    background-color: #22252bbd;
}
.email-link{
    background-color: darkred;
}
.contact-link:hover{
    box-shadow: 0 0 10px 1px #005aff;
}
@media (max-width:1024px){
    #contact{
        height: auto;
        padding: initial;
    }
    .contact-links-ctn{
        display: flex;
        flex-direction: column;
    }
    .contact-link{
        width: 16rem;
    }
}