#contact{
    padding: 10rem;
    /* height: 75vh; */
}
.contact-form-ctn{
    text-align: justify;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
}
.contact-form-text{
    display: flex;
    align-items: center;
    width: 20rem;
}
.form-ctn{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    justify-content: right;
}
input{
    width: 25rem;
    height: 3rem;
    border-radius: 10px;
    background: #ffffff11;
    border: 0;
    padding-left: 10px;
}
@media (max-width:768px){
    #contact{
        height: auto;
    }
    .contact-form-ctn{
        display: flex;
        flex-direction: column;
    }
    .contact-form-text{
        width: auto;
    }
    .form-ctn{
        justify-content: center;
    }
    input{
        width: auto;
    }
}