footer{
    background-color: #222222 ;
}
.footer-menu{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.footer-links{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.copyright{
    background-color:#171717 ;
    padding: 2rem;
    text-align: center;
}