@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Rubik', sans-serif;
  color:#F1F6F8;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}
body{
  background: rgb(5,5,29);
  background: linear-gradient(180deg, rgba(5,5,29,1) 73%, rgba(19,19,19,1) 100%);
}
h3{
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  padding: 2rem 0;
  color: #005aff;
}
